<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CourseCrafter AI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div>
          <h1>CourseCrafter AI</h1>
      </div>
    </nav>

    <div class="container mt-5">
      <form method="POST" action="/submit" class="form-section">
        <div class="center-container">
            <input type="text" class="form-control" id="topicBar" name="topic" placeholder="Enter Topic">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h3 class="n" style="padding-top: 50px;">Generated Course</h3>
      <pre class="course-content"><%- courseContent %></pre>


      <h2 style="padding-top: 50px;">Relevant Videos</h2>
      <% for (const module in videosByModule) { %>
        <div class="videos-section">
          <h3><%= module %></h3>
          <% videosByModule[module].forEach(video => { %>
            <div>
              <h4><%= video.title %> - <%= video.channel %></h4>
              <iframe width="560" height="315"
                      src="<%= video.embedUrl %>"
                      frameborder="0" allowfullscreen>
              </iframe>
            </div>
          <% }) %>
        </div>
      <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="" async defer></script>
  </body>
</html>